body {
	width: 100%;
	min-width: 1260px;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0;
	color: #ffffff;
	font-family: 'Gotham Rounded Book';
	background-color: #f5f5f5;
}

.for-sr {
	position: absolute;
	width: 1px;
	height: 1px;
	top: 0;
	left: -10000px;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.page-header {
	width: 100%;
	min-width: 1260px;
	padding-top: 85px;
	background-color: #9fa8af;
	background-image: url(../img/header_img_bg.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.page-header__header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	padding-bottom: 200px;
	list-style: none;
}

.header-nav__logo {
	flex-shrink: 0;
	flex-grow: 0;
	padding-left: 8px;
	padding-right: 250px;
}

.logo {
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 31px;
}

.logo::after {
	content: "consulting";
	position: absolute;
	top: 35px;
	left: 0;
	font-size: 12px;
	letter-spacing: 9px;
}

.header-nav__item {
	padding: 0 12px;
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 25px;
}

.header-nav__link {
	position: relative;
	padding-top: 10px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
}

.header-nav__link:hover::before {
	content: " ";
	position: absolute;
	width: 100%;
	height: 4px;
	top: 0;
	left: 0;
	background-color: #4acaff;
	border-radius: 5px;
}

.search__heading {
	font-size: 55px;
	line-height: 25px;
	font-style: italic;
}

.header__search {
	display: flex;
	justify-content: space-between;
	padding-bottom: 40px;
}

.search__container_left {
	width: 740px;
}

.search__field {
	width: 100%;
	padding: 14px 0 16px 20px;

	font-size: 18px;
	line-height: 25px;
	font-style: italic;

	background-color: #ffffff;

	border: none;
	border-radius: 2px;

	box-shadow: inset 0 -4px 0 #e2e2e2;
}

.search__field::placeholder {
	color: #c7c7c7;
}

.search__container_right {
	width: 140px;
}

.search__submit {
	position: relative;

	cursor: pointer;

	box-sizing: border-box;
	width: 100%;
	padding: 12px 0 18px 30px;

	color: #fff;
	font-size: 20px;
	line-height: 25px;
	font-style: italic;

	border: none;
	border-radius: 2px;
	
	background-color: #4acaff;

	box-shadow: inset 0 -4px 0 #3baedd;
}

.search__submit::before {
	content: "";
	position: absolute;
	background: url(../img/icon_search.png) no-repeat;
	top: 19px;
	left: 28px;
	width: 50px;
	height: 50px;
}

.intro {
	width: 960px;
	margin: 0 auto;
	color: #585858;
	text-align: center;
}

.subscribe {
	width: 100%;
	min-width: 1260px;
	text-align: center;
	background-color: #131c25;
}

.page-footer {
	width: 960px;
	margin: 0 auto;
	color: #7a7a7a;
}