body {
	width: 100%;
	min-width: 1260px;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0;
	color: #ffffff;
	font-family: 'Gotham Rounded Book', sans-serif;
	background-color: #f5f5f5;
}

.for-sr {
	position: absolute;
	width: 1px;
	height: 1px;
	top: 0;
	left: -10000px;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.page-header {
	width: 100%;
	min-width: 1260px;
	padding-top: 80px;
	padding-bottom: 295px;
	background-color: #9fa8af;
	background-image: url(../img/header_img_bg.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.page-header__header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	padding-bottom: 200px;
	list-style: none;
}

.header-nav__logo {
	flex-shrink: 0;
	flex-grow: 0;
	padding-left: 8px;
	padding-right: 250px;
}

.logo {
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 31px;
}

.logo::after {
	content: "consulting";
	position: absolute;
	top: 35px;
	left: 0;
	font-size: 12px;
	letter-spacing: 9px;
}

.logo_bold {
	font-family: "Gotham Rounded Bold", sans-serif;
}

.header-nav__item {
	padding: 0 12px;
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 25px;
}

.header-nav__link {
	position: relative;
	padding-top: 10px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
}

.header-nav__link:hover::before {
	content: " ";
	position: absolute;
	width: 100%;
	height: 4px;
	top: 0;
	left: 0;
	background-color: #4acaff;
	border-radius: 5px;
}

.search__heading {
	font-size: 55px;
	line-height: 25px;
	font-style: italic;
}

.header__search {
	display: flex;
	justify-content: space-between;
}

.search__container_left {
	width: 740px;
}

.search__field {
	width: 100%;
	margin-bottom: 25px;
	padding: 14px 0 16px 20px;

	font-size: 18px;
	line-height: 25px;
	font-style: italic;

	background-color: #ffffff;

	border: none;
	border-radius: 2px;

	box-shadow: inset 0 -4px 0 #e2e2e2;
}

.search__field::placeholder {
	color: #c7c7c7;
}

.search__filters {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.filters__checkbox {
	position: absolute;
	top: 0;
	left: -10000px;
	width: 1px;
	height: 1px;
}

.filters__label {
	position: relative;
	padding-left: 30px;
	font-size: 13px;
	line-height: 25px;
	font-style: italic;
}

.filters__label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 17px;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: inset 0 -2px 0 #e2e2e2;
}

.filters__selection {
	box-sizing: border-box;
	width: 247px;
	padding: 12px 15px;
	font-size: 13px;
	line-height: 25px;
	border: none;
	border-radius: 2px;
	color: #c7c7c7;
	font-style: italic;
	background-color: #ffffff;
}

.filters__selection-option {
	color: #000;
}

.filters__selection::placeholder {
	color: #c7c7c7;
}

.search__container_right {
	width: 140px;
}

.search__submit {
	position: relative;

	cursor: pointer;

	box-sizing: border-box;
	width: 100%;
	padding: 12px 0 18px 30px;

	color: #fff;
	font-size: 20px;
	line-height: 25px;
	font-style: italic;

	border: none;
	border-radius: 2px;
	
	background-color: #4acaff;

	box-shadow: inset 0 -4px 0 #3baedd;
}

.search__submit::before {
	content: "";
	position: absolute;
	background: url(../img/icon_search.png) no-repeat;
	top: 19px;
	left: 28px;
	width: 15px;
	height: 15px;
}

.intro {
	position: relative;
	min-width: 960px;
	margin: 0 auto;
	padding-top: 110px;
	color: #585858;
	text-align: center;
}

.intro::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 7px;
	background-image: url(../img/separator.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.intro::after {
	position: absolute;
	bottom: -1px;
	left: 0;
	content: "";
	width: 100%;
	height: 7px;
	background-image: url(../img/separator.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.intro__heading {
	margin: 0;
	padding: 0;
	font-size: 30px;
	line-height: 42px;
	font-style: italic;
}

.intro__heading_big {
	margin: 0;
	padding: 0;
	font-size: 45px;
	line-height: 62px;
}

.intro__shape {
	width: 138px;
	margin: 40px auto 50px;
	height: 5px;
	border-radius: 1px;
	background-color: #4acaff;
}

.intro__advantage {
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 24px;
}

.intro__link {
	font-family: "Gotham Rounded Medium", sans-serif;
	display: inline-block;
	margin: 0;
	margin-top: 75px;
	margin-bottom: 105px;
	padding: 20px 33px;
	color: #4acaff;
	font-size: 15px;
	line-height: 20px;
	text-decoration: none;
	border: 2px solid #4acaff;
	border-radius: 6px;
}

.subscribe {
	position: relative;
	width: 100%;
	min-width: 1260px;
	margin: 0;
	padding: 0;
	padding-top: 155px;
	padding-bottom: 180px;
	text-align: center;
	background-color: #131c25;
}

.subscribe::after {
	position: absolute;
	bottom: -1px;
	left: 0;
	content: "";
	width: 100%;
	height: 7px;
	background-image: url(../img/separator.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.subscribe__slogan {
	margin: 0;
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 24px;
}

.subscribe__field {
	position: relative;
	box-sizing: border-box;
	width: 365px;
	margin: 0 auto;
	padding: 20px;
	padding-right: 65px;
	border: 2px solid #4acaff;
	border-radius: 6px;
	text-align: left;
}

.subscribe__field::after {
	position: absolute;
	content: "";
	top: 50%;
	transform: translateY(-50%);
	right: 25px;
	width: 16px;
	height: 13px;
	background-image: url(../img/icon_mail.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.subscribe__input {
	width: 100%;
	color: #ffffff;
	background-color: transparent;
	border: none;
}

.subscribe__input::placeholder {
	color: #ffffff;
}

.subscribe__input:focus {
	outline: none;
	box-shadow: none;
	border: none;
}

.subscribe__input:focus::placeholder {
	color: transparent;
}

.page-footer {
	width: 960px;
	margin: 0 auto;
	padding-top: 65px;
	padding-bottom: 65px;
	color: #7a7a7a;
}

.page-footer__mail {
	position: relative;
	margin: 0 0 25px;
	padding-left: 35px;
	font-family: "Gotham Rounded Medium", sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.page-footer__mail::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 21px;
	height: 17px;
	background-image: url(../img/icon_mail_blue.png);
}

.footer__container {
	display: flex;
	justify-content: space-between;
}

.footer__copyright {
	margin: 0;
	font-size: 14px;
	color: #a6a5a5;
}

.footer__copyright_bold {
	font-family: "Gotham Rounded Medium", sans-serif;
	color: #7a7a7a;
}

.page-footer__social {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.social__tweet {
	display: block;
	position: relative;
	width: 55px;
	height: 20px;
	border: 1px solid #99b9ce;
	border-radius: 3px;
	background-image: linear-gradient(0deg, #d5e6ef, #ffffff);
}

.social__tweet::before {
	position: absolute;
	content: "";
	top: 5px;
	left: 5px;
	width: 13px;
	height: 11px;
	background-image: url("../img/icon_twitterbird.png");
	background-repeat: no-repeat;
}

.social__tweet::after {
	position: absolute;
	content: "";
	top: 5px;
	right: 5px;
	width: 31px;
	height: 11px;
	background-image: url("../img/Tweet.png");
	background-repeat: no-repeat;
}

.social__like {
	display: block;
	position: relative;
	width: 48px;
	height: 20px;
	background-color: #eceef5;
	border: 1px solid #cad4e7;
	border-radius: 3px;
}

.social__like::before {
	position: absolute;
	content: "";
	top: 4px;
	left: 5px;
	width: 12px;
	height: 12px;
	background-image: url("../img/icon_facebook.png");
	background-repeat: no-repeat;
}

.social__like::after {
	position: absolute;
	content: "";
	top: 6px;
	right: 5px;
	width: 21px;
	height: 8px;
	background-image: url("../img/Like.png");
	background-repeat: no-repeat;
}

.social__twitter-likes {
	position: relative;
	margin: 0 10px;
	padding: 3px 5px;
	color: #2a7090;
	font-size: 12px;
	background: #ffffff;
	border: 1px solid #cee3f0;
	border-radius: 3px;
}

.social__twitter-likes:after, .social__twitter-likes:before {
	position: absolute;
	content: " ";
	right: 100%;
	top: 50%;
	height: 0;
	width: 0;
	border: solid transparent;
	pointer-events: none;
}

.social__twitter-likes:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 6px;
	margin-top: -6px;
}

.social__twitter-likes:before {
	border-color: rgba(0, 0, 0, 0);
	border-right-color: #cee3f0;
	border-width: 7px;
	margin-top: -7px;
}

.social__facebook-likes {
	position: relative;
	margin: 0 10px;
	padding: 3px 5px;
	color: #000000;
	font-size: 12px;
	background-color: #ffffff;
	border: 1px solid #d1d1d1;
	border-radius: 2px;
}

.social__facebook-likes:after, .social__facebook-likes:before {
	position: absolute;
	content: " ";
	right: 100%;
	top: 50%;
	height: 0;
	width: 0;
	border: solid transparent;
	pointer-events: none;
}

.social__facebook-likes:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 6px;
	margin-top: -6px;
}

.social__facebook-likes:before {
	border-color: rgba(0, 0, 0, 0);
	border-right-color: #d1d1d1;
	border-width: 7px;
	margin-top: -7px;
}